@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root{
    --White: #fff;
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%) ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--White);
    border-radius: 8px;
    width: 300px;
    height: 460px;
    margin: 90px auto;
    padding: 15px;
}

.container img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 15px ;
}

.container .title{
    font-weight: bold;
    color: var(--Dark-blue);
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
}

.container .text{
    text-align: center;
    line-height: 1.5;
    color: var(--Grayish-blue);
    font-weight:bold ;
    font-size: 14px;
    margin-top:20px;
}

.container span{
    text-transform: uppercase;
}

